@import "tailwindcss";

footer {
  background-color: #2F2F2F;
  color: white;
  padding-top: 2.5rem; /* 10 */
  padding-bottom: 2.5rem; /* 10 */
  padding-left: 1.5rem; /* 6 */
  padding-right: 1.5rem; /* 6 */
}